#playlist-container
  .nav-main
    .button-wrapper.left
      .button.text.refresh(title="Refresh Playlist")
        i.fa.fa-refresh
      .button.text.scroll(title="Scroll to current song")
        i.fa.fa-angle-double-down
    .button-wrapper.right
      .button.text.clear(title="clear playlist")
        i.fa.fa-eraser
  #playlist.scrollable
    - each song in playlist
      .song(class= song.Id, data-id= song.Id)
        .attr.songpos= song.Pos
        .attr.artist=song.Artist
        span.muted
          if song.Track
            .attr.space
            .attr=song.Track
          if song.Album
            .attr.album=song.Album
            if song.Date
              |  (#{song.Date})
            .attr.space
        .attr.title #{song.Title || 'unknown'}
        span.muted
          if song.Genre
            .attr.space
            .attr.genre #{song.Genre}
          if song.Time
            .attr.space
            - var time = secondsToTimeString(song.Time)
            .attr.time #{time}
        .button-wrapper.right
          .button.play
            i.fa.fa-play
          .button.misc
            i.fa.fa-ellipsis-v(title="more")