#playlist-container
  .nav-main
    .button-wrapper
      .button.text.refresh
        i.fa.fa-refresh
      .button.text.save
        i.fa.fa-save
      .button.text.load
        i.fa.fa-file-o
      .button.text.scroll
        i.fa.fa-angle-down
      .button.text.top
        i.fa.fa-angle-up
  #playlist.scrollable
    - each song in playlist
      .song(class= song.Id)
        .attr.songpos #{song.Pos}
        .attr.artist <a href="">#{song.Artist || 'unknown'}</a>
        .attr.title #{song.Title || 'unknown'}
        .attr.space
        if song.Album
          .attr.album #{song.Album}
          if song.Date
            |  (#{song.Date})
          .attr.space
        if song.Genre
          .attr.genre #{song.Genre}
          .attr.space
        - var time = secondsToTimeString(song.Time)
        .attr.time #{time}
        .button-wrapper.right
          .button.misc
            i.fa.fa-ellipsis-v
        .button-wrapper.right
          .button.play
            i.fa.fa-play