#playlist-container
  .nav-main
    .button-wrapper.left
      .button.text.refresh(title="Refresh Playlist")
        i.fa.fa-refresh
      .button.text.scroll(title="Scroll to current song")
        i.fa.fa-angle-double-down
    .button-wrapper.right
      .shuffle.button.text(title="shuffle playlist")
        i.fa.fa-random
      .clear.button.text(title="clear playlist")
        i.fa.fa-eraser
  hr
  #playlist.scrollable
    - each song in playlist
      .song(class= song.Id, data-id= song.Id, data-file= song.file)
        .attr.songpos= song.Pos
        .attr.space
        if song.Artist
          .attr.artist=song.Artist
          .attr.space
        span.muted
          if song.Track
            .attr=song.Track
            .attr.space
          if song.Album
            .attr.album=song.Album
            if song.Date
              |  (#{song.Date})
          .attr.space
        .attr.title #{song.Title || 'unknown'}
        .attr.space
        span.muted
          if song.Genre
            .attr.genre #{song.Genre}
            .attr.space
          if song.Time
            - var time = secondsToTimeString(song.Time)
            .attr.time #{time}
        .button-wrapper.right
          .button.play(title="play song")
            i.fa.fa-play
          .button.advanced(title="more options")
            i.fa.fa-angle-down
        .clear
        .button-wrapper.right
          .button.lookup.text
            i.fa.fa-folder-o  look up in database
          .button.search.text
            i.fa.fa-search   search for artist
          .button.remove.text
            i.fa.fa-remove  remove from queue
        