#queue
  .nav-main
    .button-wrapper.right
      .button.text.queue-shuffle(title="shuffle queue")
        i.fa.fa-random
        |  shuffle
      .button.text.queue-clear(title="clear queue")
        i.fa.fa-eraser
        |  clear

  hr.prime
  .scrollable
    if !queue
      .item.muted queue empty
    else
      - each song in queue
        .item.leftclick(data-id= song.Id, data-path= song.file)
          .attr.songpos
            if song.Pos
              span.muted= (parseInt(song.Pos) + 1)
            else
              span.muted #
          .attr.artist
            if song.Artist
              span= song.Artist
          .attr.title  
            if song.Title
              span= song.Title
            else
              span= song.file
          .attr.track
            if song.Track
              span.muted= song.Track    
          .attr.album
            if song.Album
              span= song.Album
            if song.Date
              span.muted= ' (' + song.Date + ')'
          .attr.genre
            if song.Genre
              span.muted= song.Genre
          .attr.time
            if song.Time
              - song.time = secondsToTimeString(song.Time)
              span.muted= song.time     
              
                            


          
  //contextmenu
  .contextmenu.queue
    .button-wrapper.left
      .button.left.text.play
        i.fa.fa-play
        |  play
    .clear
    .button-wrapper.left
      .button.left.text.movenext
        i.fa.fa-angle-double-right
        |  play next
    .clear
    hr
    .button-wrapper.left
      .button.left.text.browse
        i.fa.fa-folder-o
        |  browse folder
    .clear
    .button-wrapper.left
      .button.left.text.search
        i.fa.fa-search
        |  search for artist
    .clear
    hr
    .button-wrapper.left
      .button.left.text.remove
        i.fa.fa-remove
        |  remove from queue

