#queue
  .nav-main
    .button-wrapper.left
      .button.text.queue-refresh(title="refresh queue")
        i.fa.fa-refresh
      .button#random.right.text(title="toggle random ")
        i.fa.fa-question
      .button#repeat.right.text(title="toggle repeat")
        i.fa.fa-repeat
      .button#consume.right.text(title="toggle consume")
        i.fa.fa-long-arrow-down
    .button-wrapper.right
      .button.text.queue-shuffle(title="shuffle queue")
        i.fa.fa-random
      .button.text.queue-clear(title="clear queue")
        i.fa.fa-eraser

  hr
  .scrollable
    if !queue
      .song.muted queue empty
    else
      - each song in queue
        .song(class= song.Id, data-id= song.Id, data-file= song.file)
          span.muted
            .attr.songpos= (parseInt(song.Pos) + 1)
            .attr.space
          if song.Artist
            .attr.artist=song.Artist
            span.muted
              .attr.space
          else
            .attr.Artist= song.file
            span.muted
              .attr.space
          if song.Album
            span.muted
              .attr.album=song.Album
          if song.Date
            span.muted
              .attr= '(' + song.Date + ')'
          if song.Track
            span.muted
              .attr=song.Track
              .attr.space
          
          if song.Title
            .attr.title= song.Title || 'unknown'
            span.muted
              .attr.space
          if song.Genre
            span.muted
              .attr.genre #{song.Genre}
              .attr.space
          if song.Time
            - var time = secondsToTimeString(song.Time)
            span.muted
              .attr.time= time
          .button-wrapper.right
            .button.queue-play(title="play song")
              i.fa.fa-play
            .button.queue-advanced(title="more options")
              i.fa.fa-angle-down
          .clear
          .button-wrapper.right
            .button.text.queue-lookup
              i.fa.fa-folder-o
              |  go to folder
            .button.text.queue-search
              i.fa.fa-search
              |  search for artist
            .button.text.queue-remove
              i.fa.fa-remove
              |  remove from queue
