#search
  input.search-input.long(type='text',placeholder="search", value=searchString)
  i.fa.fa-search.input-fa
  select.search-select
    if type == 'Any'
      option(selected) Any
    else
      option Any
    if type == 'Artist'
      option(selected) Artist
    else
      option Artist
    if type == 'Album'
      option(selected) Album
    else
      option Album
    if type == 'Title'
      option(selected) Title
    else
      option Title
    if type == 'Genre'
      option(selected) Genre
    else
      option Genre
    if type == 'Filename'
      option(selected) Filename
    else
      option Filename
  if contents
    |  found #{contents.length} songs 
    a.add-all-from-search(href ="#") 
      if contents.length > 0
        |  (add all)

  .clear

  hr.prime
  .scrollable
    if contents
      -each item in contents
        .item.leftclick(data-path= item.file)
          if item.Artist
            .attr.artist=item.Artist
            .attr.space
          else
            .attr.artist= item.file
            .attr.space
          if item.Track
            span.muted
              .attr=item.Track
          if item.Album
            span.muted  
              .attr.album=item.Album
              .attr.space
          if item.Title
            .attr=item.Title
          if item.Time
            span.muted
              - var time = secondsToTimeString(item.Time)
              .attr.right=time
          if item.Genre
            span.muted
              .attr.right= item.Genre
          
    else
      span.muted 
        .dir no results    

  //contextmenu
  .contextmenu
    .button-wrapper.left
      .button.text.add
        i.fa.fa-plus-square-o
        |  add to queue
    .clear
    .button-wrapper.left
      .button.text.add-from-album
        i.fa.fa-plus-square
        |  add album
    .clear
    .button-wrapper.left
      .button.text.add-from-artist
        i.fa.fa-plus-square
        |  add artist
    .clear
    hr
    .button-wrapper.left
      .button.text.browse
        i.fa.fa-folder-o
        |  browse folder
    .clear
    .button-wrapper.left
      .button.text.search-artist
        i.fa.fa-search
        |  search artist

