#search
  input.search-input.long(type='text',placeholder="search", value=searchString)
  i.fa.fa-search.input-fa
  select.search-select
    if type == 'Any'
      option(selected) Any
    else
      option Any
    if type == 'Artist'
      option(selected) Artist
    else
      option Artist
    if type == 'Album'
      option(selected) Album
    else
      option Album
    if type == 'Title'
      option(selected) Title
    else
      option Title
    if type == 'Genre'
      option(selected) Genre
    else
      option Genre
    if type == 'Filename'
      option(selected) Filename
    else
      option Filename
  .clear
  hr
  .scrollable
    if contents
      -each item in contents
        .dir(data-file= item.file)  
          .attr.artist=item.Artist
          span.muted
            .attr.space
            .attr=item.Track
            .attr.space
            .attr=item.Album
            .attr.space
          .attr=item.Title
          if item.Time
            span.muted
              .attr.space
              - var time = secondsToTimeString(item.Time)
              .attr=time
          .button-wrapper.right
            .append.button(title="add to queue")
              i.fa.fa-plus-square-o
            .advanced.button(title="more options")
              i.fa.fa-angle-down
          .clear
          .button-wrapper.right
            .button.lookup.text
              i.fa.fa-folder-o  look up in database
            .button.search.text
              i.fa.fa-search   search for artist
            .button.remove.text
              i.fa.fa-plus-square  add all from album

    else
      span.muted 
        .dir no results    