#search
  input.search-input.long(type='text',placeholder="search", value=searchString)
  i.fa.fa-search.input-fa
  select.search-select
    if type == 'Any'
      option(selected) Any
    else
      option Any
    if type == 'Artist'
      option(selected) Artist
    else
      option Artist
    if type == 'Album'
      option(selected) Album
    else
      option Album
    if type == 'Title'
      option(selected) Title
    else
      option Title
    if type == 'Genre'
      option(selected) Genre
    else
      option Genre
    if type == 'Filename'
      option(selected) Filename
    else
      option Filename
  if contents
    |  found #{contents.length} songs 
    a.add-all-from-search(href ="#") 
      if contents.length > 0
        |  (add all)

  .clear

  hr
  .scrollable
    if contents
      -each item in contents
        .dir(data-file= item.file)
          if item.Artist
            .attr.artist=item.Artist
            .attr.space
          else
            .attr.artist= item.file
            .attr.space
          if item.Album
            span.muted  
              .attr.album=item.Album
              .attr.space
          if item.Track
            span.muted
              .attr=item.Track
              .attr.space
          if item.Title
            .attr=item.Title
            .attr.space
          if item.Genre
            span.muted
              .attr= item.Genre
          if item.Time
            span.muted
              - var time = secondsToTimeString(item.Time)
              .attr=time
          .button-wrapper.right
            .button.search-append(title="add to queue")
              i.fa.fa-plus-square-o
            .button.search-advanced(title="more options")
              i.fa.fa-angle-down
          .clear
          .button-wrapper.right
            .button.text.search-lookup
              i.fa.fa-folder-o
              |  go to folder
            .button.text.search-artist
              i.fa.fa-search
              |  search for artist
            .button.text.search-add-from-album
              i.fa.fa-plus-square
              |  add album
            .button.text.search-add-from-artist
              i.fa.fa-plus-square
              |  add artist


    else
      span.muted 
        .dir no results    
