input#search-input.long(
      type='text', placeholder='search for {{searchCtrl.searchRequestParams.type}}', 
      value='search', 
      ng-model='searchCtrl.searchRequestParams.name', 
      ng-focus='searchCtrl.searchRequestParams.isFocused=true', 
      ng-blur='search.isFocused=false'
)
i.fa.fa-search.input-fa
.toolbar
  .button-wrapper.right
    .button.text.search-type(
          ng-class="{active: searchCtrl.searchRequestParams.type==='Artist'}", 
          ng-click="searchCtrl.searchRequestParams.type='Artist'"
    )
      | Artist
    .button.text.search-type(
          ng-class="{active: searchCtrl.searchRequestParams.type==='Album'}", 
          ng-click="searchCtrl.searchRequestParams.type='Album'"
    )
      | Album
    .button.text.search-type(
          ng-class="{active: searchCtrl.searchRequestParams.type==='Title'}", 
          ng-click="searchCtrl.searchRequestParams.type='Title'"
    )
      | Title
    .button.text.search-type(
          ng-class="{active: searchCtrl.searchRequestParams.type==='Genre'}", 
          ng-click="searchCtrl.searchRequestParams.type='Genre'"
    )
      | Genre
.clear
